nav {
    display: flex;           /* Use flexbox for the navigation */
    justify-content: space-around;  /* Distribute the links evenly */
    flex-wrap: wrap;         /* Allow wrapping of elements to the next line */
    background-color: #f8f8f8; /* Optional: Background color for the nav */
    padding: 10px;           /* Optional: Padding around the nav */
  }
  
  nav a {
    text-decoration: none;   /* Remove the underline from links */
    color: #000;             /* Set the text color */
    padding: 10px 20px;      /* Add padding to the links */
    flex: 1 1 auto;          /* Allow the links to grow and shrink */
    text-align: center;      /* Center the text within the links */
    margin: 5px;             /* Optional: Margin around the links */
    font-weight: bold;
    color: cadetblue;
  }
  
  nav a:hover {
    background-color: #ddd;  /* Optional: Background color on hover */
  }

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    font-weight: bold;
  }
  p {
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #img {
    display: flex;
    justify-content: space-around;
  }
  #home {
    position: sticky;
    top:0px;
    left: 0px;
  
   }